<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moamoa">
    <!-- internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- camera, gallery -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity android:name=".BoardWriteActivity"></activity>
        <activity android:name=".BoardListActivity" />
        <activity android:name=".BoardActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBeBCfs8-ASc8_HBDGnIsb3iiYTjAjkyXE" />

        <activity android:name=".menu_screen_sub" />
        <activity android:name=".ShowImage" />
        <activity android:name=".NoticeActivity" />
        <activity android:name=".NoticeListActivity" />
        <activity android:name=".StoreInfo" />
        <activity android:name=".CafeListActivity" />
        <activity android:name=".RestaurantListActivity" />
        <activity android:name=".ReviewShow" />
        <activity android:name=".ReviewWriteActivity" />
        <activity android:name=".ReviewEditActivity" />
        <activity android:name=".ReviewListActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>